.container.order {

    .collection-header {
        height: 400px;

        text-align: center;

        img {
            height: 100%;
        }
    }

}

.toast a {
    color: #fff;
    font-weight: bold;
}
