@import "materialize";
@import "loader";
@import "order";
@import "status";

.wizard-step {
    margin-top: 56px;
    min-height: 400px;
}

.wizard-step.step-4 {
  align-items: center;
  justify-content: center;
}

body {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
