---
title: Justin Time Setup Wizard
---

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Justin Time</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Hilfe</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Hilfe</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">

  <div class="wizard-step">

    <h5>Login</h5>

    <p>Bitte melde dich an. <a href="#">Zugangsdaten vergessen?</a></p>

    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="username" type="text" class="validate">
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row right-align">
          <div class="buttons col s12">
            <button id="login" class="btn waves-effect waves-light" type="submit" name="action">Login
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>

  </div>

  <div class="wizard-step" style="display: none">

    <h5>Ger채t registrieren</h5>

    <p>Bitte gib die Seriennummer deines Ger채ts ein!</p>

    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="serial" type="text" class="validate">
            <label for="serial">Seriennummer</label>
          </div>
        </div>
        <div class="row right-align">
          <div class="buttons col s12">
            <button id="register-device" class="btn waves-effect waves-light" type="submit" name="action">Weiter
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>

  </div>

  <div class="wizard-step" style="display: none">

    <h5>Produktauswahl</h5>

    <p>Welches Produkt soll Justin f체r dich verwalten?</p>

    <div class="input-field col s12">
      <select id="products">
        <option value="" disabled selected>Bitte ausw채hlen</option>
      </select>
    </div>

    <div class="row right-align">
      <div class="buttons col s12">
        <button id="set-product" class="btn waves-effect waves-light" type="submit" name="action">Fertigstellen
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>

  </div>

  <div class="wizard-step step-4 valign-wrapper" style="display: none">

    <div class="circle-loader">
      <div class="checkmark draw"></div>
    </div>

  </div>

</div>
