---
title: Justin Time Order
---

<div class="container order">

<div class="wizard-step">

        <h5>Bestellung</h5>

        <p>Wo möchtest du nachbestellen?</p>

    <ul class="collection">
        <li class="collection-header">

            <%= image_tag 'dummy.jpg' %>
        
        </li>

        <li class="collection-item avatar valign-wrapper">
        <span class="title">Rewe</span><br>
        <a href="#!" class="secondary-content">13,99 €</a>
        </li>
        <li class="collection-item avatar valign-wrapper">
        <span class="title">Amazon</span><br>
        <a href="#!" class="secondary-content">13,99 €</a>
        </li>
        <li class="collection-item avatar valign-wrapper">
        <span class="title">Edeka24</span><br>
        <a href="#!" class="secondary-content">14,49 €</a>
        </li>
    </ul>

    </div>

</div>
